torch
torchaudio
torchvision
librosa>=0.10.0
numpy
soundfile
demucs
transformers
accelerate
sentencepiece
audiocraft
scikit-learn
matplotlib
seaborn
pandas
yt-dlp
tqdm
jupyter
datasets
huggingface_hub
lightning

